@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$main-font: "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s linear;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 2rem;
}
