@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$main-font: 'Montserrat', sans-serif;
// font-family: 
$main-second-font: 'Raleway', sans-serif;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s linear;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 2rem;
}

button{
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.color-menu-active{
  color: #3498db !important;
}
